language: cpp
compiler: gcc
dist: xenial

cache:
  apt: true
  directories:
    - opencv-3.4.3/
    - chilkat-9.5.0-x86_64-linux-gcc/
    - mysql-connector-c++-8.0.16-src/

script:
  - sudo apt update
  - sudo apt install dos2unix bash g++ -y
  - dos2unix build-linux.sh
  - chmod -v 777 build-linux.sh
  - ./build-linux.sh
