language: cpp
os: linux
dist: xenial
compiler: gcc
  addons:
    apt:
      sources: ['ubuntu-toolchain-r-test']
      packages: ['g++-8']
  env:
  - CXX=g++-8    

cache:
  apt: true
  pip: true
  directories:
    - opencv-3.4.3/
    - chilkat-9.5.0-x86_64-linux-gcc/
    - mysql-connector-c++-8.0.16-linux-glibc2.12-x86-64bit/
    - libtensorflow-cpu-linux-x86_64-1.13.1/
    - sphinxbase-5prealpha/
    - pocketsphinx-5prealpha/

script:
  - sudo apt update
  - sudo apt-get install dos2unix bash g++ -y
  - dos2unix build-linux.sh
  - chmod -v 777 build-linux.sh
  - ./build-linux.sh
