language: cpp
cache:
  apt: true
  pip: true

matrix:
  exclude:
  - name: "Lara On Linux"
    os: linux
    dist: xenial
    compiler: gcc
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-8
          - gcc-8
          - gfortran-8
        env:
          - CXX='g++-8'
          - CC='gcc-8'
          - CFLAGS='-DNRUNS=100000000'
    cache:
        directories:
          - opencv-3.4.3/
          - mysql-connector-c++-8.0.16-linux-glibc2.12-x86-64bit/
          - libtensorflow-cpu-linux-x86_64-1.13.1/
          - sphinxbase-5prealpha/
          - pocketsphinx-5prealpha/
          - mpich-3.3/
    script:
      - sudo apt update
      - sudo apt-get install dos2unix bash tree -y
      - dos2unix build-linux.sh
      - chmod -v 777 build-linux.sh
      - ./build-linux.sh
  - name: "Lara On Wndows"
    os : wndows
    script:
      - chmod -v 777 build-windows.bat
      - dos2unix build-windows.bat
      - ./build-windows.bat
  include:
  - name: "Lara On Pi"
    os : linux
    arch: arm64
    dist: xenial
    compiler: gcc
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-8
          - gcc-8
          - gfortran-8
        env:
          - CXX='g++-8'
          - CC='gcc-8'
          - CFLAGS='-DNRUNS=100000000'
    #caching does not work yet
    cache:
        directories:
          #- opencv-3.4.3/
          #- libtensorflow-cpu-linux-x86_64-1.13.1/
          - sphinxbase-5prealpha/
          - pocketsphinx-5prealpha/
          - mpich-3.3/
    script:
      - sudo apt update
      - sudo apt-get install dos2unix bash tree -y
      - dos2unix build-pi.sh
      - chmod -v 777 build-pi.sh
      - ./build-pi.sh
      
notifications:
  email:
    on_success: change
    on_failure: change
    
allow_failures:
  - name:
    - "Lara On Pi"
    - "Lara On Linux"
    - "Lara on Windows"

#ignore:
#  - *.md

